Fabric3==1.14.post1
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.1.0
SQLAlchemy==1.2.4
WTForms==2.1
Werkzeug==0.14.1
coverage==4.5.1
ecdsa==0.13
gunicorn==19.7.1
itsdangerous==0.24
paramiko==2.4.0
pycrypto==2.6.1
bcrypt==3.1.4
pytz==2018.3
tzlocal==1.5.1
pytest-flask==0.10.0
click==6.7
