{% extends 'layouts/main.html' %}
{% block title %}Leaderboard{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Leaderboard</h1>
</div>
<script type='text/javascript'>//<![CDATA[
$(window).load(function(){
	var data = {{data|tojson}};
	$(function() {
		$('#table').bootstrapTable({
			data: data
		});
	});
});//]]>
</script>

<div class="container" style="padding: 10px; ">
  <br>
  <table id="table" data-toggle="true" data-show-columns="true" data-pagination="true" data-height="500">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="amount" data-sortable="true">Betrag</th>
      </tr>
    </thead>
  </table>
</div>

{% endblock %}
