{% extends 'layouts/main.html' %}
{% block title %}Leaderboard{% endblock %}
{% block content %}

	<div class="page-header">
		<h1>Leaderboard</h1>
	</div>
	<div class="container">
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script type='text/javascript'>//<![CDATA[
	$(window).load(function () {
		var data = {{data|tojson}};
		$(function () {
			$('#table').bootstrapTable({
				data: data
			});
		});
		var ctx = $('#chart_canvas');
		ctx.attr('height', 50);
		var chart = new Chart(ctx, {
			type: 'horizontalBar',
			data: {
				labels: data.map(function (e) { return e.name }),
				datasets: [{
					label: 'Eingezahlter Betrag',
					data: data.map(function (e) { return e.amount }),
					backgroundColor: "rgba(60, 120, 200, 1)"
				}]
			},
{#			options: {#}
{#				scales: {#}
{#					yAxes: [{#}
{#                        barThickness : 10#}
{#					}]#}
{#				}#}
{#			}#}
		});
	});//]]>
	</script>

	<div class="container">
		<canvas id="chart_canvas">

		</canvas>
		<br>
		<table id="table" 
				data-toggle="data" 
				data-show-columns="true" 
				data-pagination="true" 
				data-page-list="[5, 10, 20, 50, 100, 200]"
				data-search="true">
			<thead>
			<tr>
				<th data-field="name" data-sortable="true">Name</th>
				<th data-field="amount" data-sortable="true">Betrag</th>
			</tr>
			</thead>
		</table>
	</div>

{% endblock %}
