{% extends 'layouts/main.html' %}
{% block title %}Transaktionen{% endblock %}
{% block content %}	
	
	<div class="page-header">
		<h1>Transaktionen</h1>
	</div>
{% if transactions|length > 0 %}
	<table id="transactions"
			data-toggle="table"
			data-pagination="true"
			data-sort-name="ID"
			data-sortable="true"
			data-sort-order="desc">
			data-page-list="[5, 10, 20, 50, 100, 200]"
            data-search="true">
		<thead>
			<tr>
				<th data-sortable="true">ID</th>
				<th data-sortable="true">Nutzername</th>
				<th data-sortable="true">Uhrzeit</th>
				<th data-sortable="true" data-sorter="amountSorter">Betrag</th>
				<th data-sortable="true">Notiz</th>
			</tr>
		</thead>
		<tbody>
		{% for transaction in transactions %}
			<tr>
				<td>{{ transaction.id }}</td>
				<td>{{ transaction.user.name }}</td>
				<td>{{ transaction.time }}</td>
				<td>{{ transaction.amount }}</td>
				<td>{{ transaction.description }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<table id="table"></table>
	
	<script>
    function amountSorter(a, b) {
        if (a > b) return 1;
        if (a < b) return -1;
        return 0;
    }
	</script>
{% else %}
	<h3>Derzeit keine Transaktionen verfügbar.</h3>
{% endif %}
{% endblock %}
